.ResetPassword-container {
  display: flex;
  flex-direction: column;
  background-color: pink;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#333;

  .question {
    margin:10px 0 10px;
  }

  p {
    font-size:18px;
    line-height: 24px;
    max-width:500px;
  }

  a {
    color:darkred;
  }


}