.Join-container {
  display: flex;
  flex-direction: column;
  background-color: lighten(deepskyblue, 30%);
  flex: 1;
  align-items: center;
  justify-content: center;

  .error {
    color:red;
  }

  .question {
    margin:30px 0 10px;
  }

  a {
    color:dodgerblue;
  }
}